header{
    width: 100%;
    height: 115px;
    /*background-color: red;*/
    margin-top: -5px;
    /*margin-bottom: 5px;*/
}
.buscador{
    width: 450px;
    height: 70px;
    background-color: rgb(88, 88, 88);
    margin-left: 300px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 12px;
    position: fixed;
}
#buscador{
    color: white;
    font: 20pt arial;
    margin-top: 20px;
    margin-left: 45px;
}
#lpa{
    float: right;
    margin-top: -75px;
    margin-right: 25px;
}
.logo{
    width: 179px;
    height: 105px;
    /*background-color: green;*/
    display: inline-block;
    margin-left: 5px;
    margin-top: 15px;
}
#logo{
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 8px;
    display: inline-block;
}
article{
    width: 12%;
    height: 75%;
    /*background-color: yellow;*/
    float: left;
}
#article{
    font: 13pt arial;
    margin-top: 90px;
    margin-left: 10px; 
    line-height: 38px;
}
input[type=radio], input[type=checkbox]{
    width: 20%;
    height: 20px;
}
main{
    width: 87%;
    height: 79%;
    /*background-color: purple;*/
    float: right;
    overflow-y: scroll;
}
footer{
    width: 100%;
    height: 25px;
    /*background-color: orange;*/
    margin-top: 515 px;
    margin-bottom: -5px;
    display: inline-block;
}
#footer{
    font: 13pt arial;
    margin-top: -1px;
    float: right;
    margin-right: 50px;
}
.resultados{
    width: 200px;
    height: 25px;
    /*background-color: gray;*/
    margin-left: 750px;
    margin-top: 10px;
    display: block;
}
#resultados{
    font: 13pt arial;
    color: rgb(49, 49, 49);
}
figure{
    width: 25%;
    height: 440px;
    /*background-color: lightyellow;*/
    display: inline-block;
    margin-top: 20px;
}
.image{
    width: 97%;
    height: 224px;
    /*border: solid 2px;
    /*background-color: lightskyblue;*/
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
}
#img{
    display: block;
    margin: auto;
}
.description{
    width: 90%;
    height: 204px;
    /*background-color: rgb(230, 230, 230);*/
    display: block;
    margin: auto;
    margin-top: 0px;
}
#titulo{
    font: 20pt arial bold;
}
#info{
    font: 12pt arial;
    margin-left: 10px;
}
#precio{
    font: 24pt arial bold;
    float: right;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.page{
    width: 250px;
    height: 25px;
    background-color: gray;
    display: block;
}
.prod{
    width: 90%;
    height: 440px;
    /*background-color: green;*/
    display: block;
    margin: auto;
    margin-top: 20px;
}
#imgprod{
    display: block;
}
.desprod{
    width: 35%;
    height: 430px;
    /*background-color: rgb(97, 55, 55);*/
    display: block;
    margin-left: 650px;
    margin-top: -455px;
}
#precioprod{
    font: 24pt arial bold;
    margin-left: 10px;
    margin-top: 30px;
}